@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?43sgyj');
  src:  url('../assets/fonts/icomoon.eot?43sgyj#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?43sgyj') format('truetype'),
    url('../assets/fonts/icomoon.woff?43sgyj') format('woff'),
    url('../assets/fonts/icomoon.svg?43sgyj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-promotionusercenter:before {
  content: "\e900";
}
.icon-webview:before {
  content: "\e901";
}
.icon-tostore:before {
  content: "\e902";
}
.icon-video-list:before {
  content: "\e903";
}
.icon-eye:before {
  content: "\e904";
}
.icon-videousercenter:before {
  content: "\e905";
}
.icon-play:before {
  content: "\e906";
}
.icon-pendingPayment:before {
  content: "\e907";
}
.icon-bussinessConfirm:before {
  content: "\e908";
}
.icon-beReceived:before {
  content: "\e909";
}
.icon-beEvaluated:before {
  content: "\e90a";
}
.icon-beDelivered:before {
  content: "\e90b";
}
.icon-beConfirmed:before {
  content: "\e90c";
}
.icon-dynamic-classify:before {
  content: "\e90d";
}
.icon-winningRecord:before {
  content: "\e90e";
}
.icon-tokeout-mobile:before {
  content: "\e90f";
}
.icon-tokeout:before {
  content: "\e910";
}
.icon-balance:before {
  content: "\e911";
}
.icon-addshoppingcart:before {
  content: "\e912";
}
.icon-integral:before {
  content: "\e913";
}
.icon-service:before {
  content: "\e914";
}
.icon-suspension:before {
  content: "\e915";
}
.icon-top:before {
  content: "\e916";
}
.icon-citylocation:before {
  content: "\e917";
}
.icon-vip-card:before {
  content: "\e918";
}
.icon-community:before {
  content: "\e919";
}
.icon-coupon:before {
  content: "\e91a";
}
.icon-notify:before {
  content: "\e91b";
}
.icon-heart:before {
  content: "\e91c";
}
.icon-comment-bottom:before {
  content: "\e91d";
}
.icon-comment-right:before {
  content: "\e91e";
}
.icon-drag:before {
  content: "\e91f";
}
.icon-cross:before {
  content: "\e920";
}
.icon-album:before {
  content: "\e921";
}
.icon-audio:before {
  content: "\e922";
}
.icon-plus:before {
  content: "\e923";
}
.icon-bbs:before {
  content: "\e924";
}
.icon-top-nav:before {
  content: "\e925";
}
.icon-colorstyle:before {
  content: "\e926";
}
.icon-breakline:before {
  content: "\e927";
}
.icon-addfolder:before {
  content: "\e928";
}
.icon-button:before {
  content: "\e929";
}
.icon-addpage:before {
  content: "\e92a";
}
.icon-backward:before {
  content: "\e92b";
}
.icon-carousel:before {
  content: "\e92c";
}
.icon-arrow-right:before {
  content: "\e92d";
}
.icon-collect:before {
  content: "\e92e";
}
.icon-classify:before {
  content: "\e92f";
}
.icon-config:before {
  content: "\e930";
}
.icon-help:before {
  content: "\e931";
}
.icon-form-vessel:before {
  content: "\e932";
}
.icon-history:before {
  content: "\e933";
}
.icon-edit:before {
  content: "\e934";
}
.icon-copy:before {
  content: "\e935";
}
.icon-delete:before {
  content: "\e936";
}
.icon-publish:before {
  content: "\e937";
}
.icon-save:before {
  content: "\e938";
}
.icon-count-ele:before {
  content: "\e939";
}
.icon-folder:before {
  content: "\e93a";
}
.icon-template:before {
  content: "\e93b";
}
.icon-text:before {
  content: "\e93c";
}
.icon-title-ele:before {
  content: "\e93d";
}
.icon-bottom-nav:before {
  content: "\e93e";
}
.icon-page:before {
  content: "\e93f";
}
.icon-video:before {
  content: "\e940";
}
.icon-conponent:before {
  content: "\e941";
}
.icon-location:before {
  content: "\e943";
}
.icon-notebook:before {
  content: "\e942";
}
.icon-shoppingcart:before {
  content: "\e944";
}
.icon-diamond:before {
  content: "\e945";
}
.icon-sort:before {
  content: "\e946";
}
.icon-forward:before {
  content: "\e947";
}
.icon-grade-ele:before {
  content: "\e948";
}
.icon-input-ele:before {
  content: "\e949";
}
.icon-preview:before {
  content: "\e94a";
}
.icon-select-ele:before {
  content: "\e94b";
}
.icon-textarea-ele:before {
  content: "\e94c";
}
.icon-time-ele:before {
  content: "\e94d";
}
.icon-upload-img:before {
  content: "\e94e";
}
.icon-code:before {
  content: "\e94f";
}
.icon-map:before {
  content: "\e950";
}
.icon-user-center:before {
  content: "\e951";
}
.icon-dynamic-vessel:before {
  content: "\e952";
}
.icon-free-vessel:before {
  content: "\e953";
}
.icon-goods-list:before {
  content: "\e954";
}
.icon-layout-vessel:before {
  content: "\e955";
}
.icon-list:before {
  content: "\e956";
}
.icon-list-vessel:before {
  content: "\e957";
}
.icon-picture:before {
  content: "\e958";
}
.icon-franchisee-list:before {
  content: "\e959";
}
.icon-lens:before {
  content: "\e95a";
}
.icon-static-vessel:before {
  content: "\e95b";
}
.icon-search:before {
  content: "\e95c";
}
.icon-earphone:before {
  content: "\e95d";
}
.icon-pic:before {
  content: "\e95e";
}
.icon-bubble:before {
  content: "\e95f";
}
.icon-seckill:before {
  content: "\e960";
}
.icon-tokeout-discount:before {
  content: "\e961";
}
.icon-tokeout-reduce:before {
  content: "\e962";
}
.icon-score:before {
  content: "\e963";
}
.icon-fontStyle-bold:before {
  content: "\e972";
}
.icon-textAlign-center:before {
  content: "\e973";
}
.icon-fontStyle-underline:before {
  content: "\e975";
}
.icon-fontStyle-italic:before {
  content: "\e976";
}
.icon-textAlign-left:before {
  content: "\e978";
}
.icon-fontStyle-color:before {
  content: "\e979";
}
.icon-textAlign-right:before {
  content: "\e97a";
}
